html {
    background-color: 'white';
}

p {
    color: #52454e;
}

body
{
    background: url(./img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

img.icon {
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.94);
}

div.search-bar {
    margin-bottom: 2em;
}

div.trivia {
    margin-bottom: 2em;
}

#cities, #compare-to {
    width: 100%;
    font-size: 20px;
    height: 30px;
}

.pure-button-primary {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0.5em 1em;
    padding-top: 0.6em;
    font-size: 1.5em;
}

.icon-row {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img.icon {
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgba(11, 13, 21, 0.4);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.53);
    -moz-box-shadow:    0px 1px 3px 0px rgba(50, 50, 50, 0.53);
    box-shadow:         0px 1px 3px 0px rgba(50, 50, 50, 0.53);
}

.pure-form .pure-input-1-2 {
    width: 50%;
margin-left: 30px;
}